*{
   margin: 0px;
   padding: 0px;
    font-family: 'Charm', cursive;
font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: white
    ;
    position: relative;
}
.navbar{
display: flex;
align-items: center;
justify-content: space-between;
width: 85%;
margin-left: 100px;

}
.logo{
    width: 200px;
}
.listitem{
    display: inline;
    margin-right: 30px;
    
}
.link{
    text-decoration: none;
    font-size: 20px;
    transition: font size 0.5s;

}
.link:hover{
    color:red;
    font-size: 30px;
    
}
.title{
   margin-left: 8%; 
   margin-top: 13%;
}
.title_h1{
    font: 50px
     sans-serif;
     margin-bottom: 20px;
}
.title_h1 span{
    color: purple;
    font-weight: bold;
}
.title_p{
    font-size: 20px;
    margin-bottom: 30px;
}
.download{
    background-color: black;
    padding: 10px 5px;
    margin:30px 0px ;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.imgmain{
    position: absolute;
    left: 700px;
    top: 180px;
  /*  transition: width 1s;*/
}
/*.imgmain:hover{
    width: 60%;

}
*/
#about{
    margin-top: 18%;
    margin-left: 8%;
}
.headings{
    text-align: center;
    margin-bottom: 30px;

}
.headings h1{
    font-size: 50px;
}
.headings span{
    font-size: 30px;
    color: green;

}
.about_content{
    display: grid;
    grid-template-columns:50% 50% ;
}
.about_img img{
    image-rendering: 100px;
}
.about_details{
    font-size: large;
}
.about_info{
    text-align: center;
    margin: 10px 0px;
}
.html{
    scroll-behavior: smooth;
}


    
    

